body{
    box-sizing: border-box;
    background-color: #3d0d46;
    /* background: linear-gradient(45deg, #FC466B, #3F5EFB);
    height: 100vh; */
}
.form{


/* background-color: #e67e22;
    border: 1px solid #ccc;
    height: auto;
    margin:100px auto 100px auto;
    position: relative;
    max-width: 500px;
    padding: 40px 40px 30px 40px;
    border-radius: 15px;
    box-shadow: 0 1px 1px #ccc; */

    
   
}

header h3 {
  font-size: 70px;
  font-weight: 600;
  color: #030318;
  text-align: center;
  /* text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3; */
}
header img {
  width: auto;
  height: 100px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

/* From uiverse.io by @alexmaracinaru */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #b1dae7;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }


 table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th, td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255,255,255,0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}
